tqdm
einops
spaces
timm>=0.9.2
transformers>=4.34.0
gradio
supervision
opencv-python
pytest

# Build dependency; getting errors so try putting it here
flit_core>=3.2,<4
#samv2
# Rdancer's version of samv2 includes a fix that makes it not crash on Windows
git+https://github.com/rdancer/samv2.git
git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/facebookresearch/detectron2.git
git+https://github.com/facebookresearch/Mask2Former.git
